{erl_opts, [{parse_transform, lager_transform}
           ]}.
{deps, [
    {csi, {git, "git@github.com:esl/CommonServiceInterface.git", {branch, "master"}}},
    {mixer,          {git, "https://github.com/inaka/mixer.git", {tag, "0.1.5"}}},
    {cowboy_swagger, {git, "https://github.com/inaka/cowboy-swagger.git", {branch, "master"}}}
%%    {cowboy_trails, {git, "git@github.com:inaka/cowboy-trails.git", {branch, "master"}}}
    ]}.

{plugins, [
    {rebar3_run, {git, "git://github.com/tsloughter/rebar3_run.git", {branch, "master"}}}
]}.

{relx, [{release, { cfa, "0.0.1"},
         [runtime_tools,
          cowboy,
          cowboy_swagger,
%%          cowboy_trails,
          csi,
          wsa
         ]},
        {dev_mode, false},
        {include_erts, true},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},
        {extended_start_script, true}]}.

